:host {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.input {
	position: relative;
}

div.input label {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 10px;
	padding: 5px 0px 25px 0px;
}

div.input input {
	padding: 5px 5px 10px 25px;
	font-size: 25px;
	outline:0;
}

div.input {
	margin-top: 20px;
}