<div class="container">
	<section>
	  <h3>Resource Details of {{clientName}}</h3>
	  	<div class="containercolor-light" >
  			<div class="col">
				<table class="table table-inverse" width="50%">
					<thead class="thead-dark">
						<tr scope="row">
						  <th>#</th>
						  <th>Associate Name</th>
						  <th>Skill Set</th>
						</tr>
					</thead>
					<tbody>
						<tr scope="row" class="life-container" *ngFor="let associte of resources let i=index">
							<td>{{ i + 1 }}</td>
							<td>{{ associte.name }}</td>
							<td>{{ associte.skills }}</td>
						</tr>
					</tbody>
				</table>
  			</div>
		</div>
 	</section>
</div>